body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.loginBox{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50% -50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}
.loginBox h2{
    text-align: center;
    color: rgb(95, 95, 228);
    margin: 0;
    padding: 0 0 20px;
}
.loginBox p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background: rgb(255,38,126);
    border-radius: 20px;
    cursor: pointer;
}
.loginBox input[type="submit"]:hover{
    background: teal;
    color: white;
}
.loginBox form a{
    color: white;
    font-size: 14px;
    font-weight: bold;
}
::placeholder{
    color: rgb(194, 191, 187);
}

.loginBox img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(-100px/2);
    left: calc(200px - 20%);
}